In [ ]:
import pandas as pd
rate=pd.read_csv('C:/Users/lenovo/Desktop/datasets/ratings.csv',sep=',')
print(type(rate))
rate.head()

In [3]:
rate.index

RangeIndex(start=0, stop=25000095, step=1)

In [4]:
rate.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [6]:
rate['rating'].describe()

count    2.500010e+07
mean     3.533854e+00
std      1.060744e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [7]:
rate['rating'].mean()

3.533854451353085

In [8]:
rate['rating'].mode()

0    4.0
dtype: float64

In [9]:
rate.mean()

userId       8.118928e+04
movieId      2.138798e+04
rating       3.533854e+00
timestamp    1.215601e+09
dtype: float64

In [10]:
rate['rating'].min()

0.5

In [11]:
rate['rating'].max()

5.0

In [12]:
rate['rating'].std()

1.0607439610179747

In [13]:
rate.corr()

             userId   movieId    rating  timestamp
userId     1.000000 -0.004413  0.001940  -0.001671
movieId   -0.004413  1.000000 -0.009216   0.520900
rating     0.001940 -0.009216  1.000000   0.010015
timestamp -0.001671  0.520900  0.010015   1.000000

In [14]:
filter1=rate['rating']>5
filter1.any()

False

In [16]:
filter1=rate['rating']>0
filter1.all()

True

In [17]:
import pandas as pd

print(pd.__version__)

0.23.4

In [1]:
(23.4-10)+(23.4-14)+(23.4-23)+(23.4-34)+(23.4-36)

-7.105427357601002e-15

In [3]:
%matplotlib inline
rate.hist(column='rating', figsize=(8,5))

NameError: name 'rate' is not defined